.main {
  padding: 120px 0;
  background:#0d1117fc; 
  color: #ffffff;
  overflow: hidden;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.main img {
  width: 100%;
  max-width: 520px;
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(0 20px 40px rgba(58, 104, 184, 0.4));
}

.main span {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #3A68B8, #00E0FF);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}


.main__text {
  font-size: 16px;
  line-height: 1.7;
  color: #b5c2d3;
  margin-bottom: 35px;
}

.main__btn {
  width: fit-content;
  padding: 14px 36px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #3A68B8, #00E0FF);
  cursor: pointer;
  transition: all 0.35s ease;
  box-shadow: 0 20px 45px rgba(0, 224, 255, 0.35);
}

.main__btn:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 30px 65px rgba(0, 224, 255, 0.6);
}

.main__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 992px) {
  .main .container {
    flex-direction: column;
    text-align: center;
  }

  .main span {
    align-items: center;
  }

  .main__title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 80px 0;
  }

  .main__title {
    font-size: 28px;
  }

  .main__text {
    font-size: 14px;
  }

  .main__btn {
    padding: 12px 28px;
  }
}
