
.header {
    width: 100%;
    background-color: #0d1117;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 1000;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #3A68B8;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    z-index: 1001;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.header__list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.header__item a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.header__item a:hover {
    color: #00bfff;
}

.header__btn {
    background-color: #00bfff;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__btn:hover {
    background-color: #3A68B8;
}

.header__btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.burger.toggle .line2 {
    opacity: 0;
}
.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.header__list {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background-color: #0d1117;
    flex-direction: column;
    gap: 30px;
    padding: 100px 20px;
    text-align: left;
    transition: right 0.3s ease;
    box-shadow: -4px 0 10px rgba(0,0,0,0.3);
    z-index: 999;
    align-items: center;
}

.header__list.active {
    right: 0;
}

.btn-mobile {
    display: block;
}

@media (min-width: 1025px) {
    .header__list {
        position: static;
        flex-direction: row;
        height: auto;
        width: auto;
        padding: 0;
        gap: 30px;
        box-shadow: none;
    }
    .header__list.active {
        right: 0;
    }
    .burger {
        display: none;
        
    }
    .btn-mobile {
        display: none;
    }
}
